<mgl-map
  *ngIf="center && routes"
  [style]="'mapbox://styles/mapbox/outdoors-v11'"
  [zoom]="[zoom]"
  [pitch]="[pitch]"
  [bearing]="[bearing]"
  movingMethod="easeTo"
  [interactive]="false"
  [center]="center"
>
  <ng-container *ngFor="let layer of layers">
    <mgl-geojson-source
      id="route-{{layer.id}}"
    >
      <mgl-feature [geometry]="layer.route.geometry"></mgl-feature>
    </mgl-geojson-source>
    <mgl-layer
      id="layer-route-{{layer.id}}"
      source="route-{{layer.id}}"
      type="line"
      [paint]="{
      'line-color': getRouteColor(layer.route),
      'line-width': 6
    }"
    ></mgl-layer>

  </ng-container>

  <mgl-marker
    *ngIf="marker"
    [lngLat]="marker"
  >
    <div class="here"></div>
  </mgl-marker>
  <mgl-marker *ngFor="let node of nodes"
              [lngLat]="node.location"
  >
    <div class="node-marker">{{node.number}}</div>
  </mgl-marker>
</mgl-map>
