<mgl-map
  *ngIf="center && routes"
  [style]="'mapbox://styles/mapbox/outdoors-v11'"
  [zoom]="[zoom]"
  [pitch]="[pitch]"
  [bearing]="[bearing]"
  movingMethod="easeTo"
  [interactive]="false"
  [center]="center"
>
  <mgl-geojson-source
    id="routes"
  >
    <mgl-feature
      *ngFor="let route of routes"
      [geometry]="route.geometry"
    ></mgl-feature>

  </mgl-geojson-source>
  <mgl-layer
    id="layer-routes"
    source="routes"
    type="line"
    [paint]="{
      'line-color': '#579120',
      'line-width': 6
    }"
  ></mgl-layer>
  <mgl-marker
    *ngIf="marker"
    [lngLat]="marker"
  >
    <div class="here"></div>
  </mgl-marker>
  <mgl-marker *ngFor="let node of nodes"
              [lngLat]="node.location"
  >
    <div class="node-marker">{{node.number}}</div>
  </mgl-marker>
</mgl-map>
